/* Mike Jenkins */
/* Project name */
/* Current date */

/* Define CSS variables */
:root {
  --font-size: 16px;
  --aquamarine: rgb(127, 255, 212);
  --white: #fff;

}

ul {list-style-type: circle;}





